@model BigSchool1.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@using BigSchool1.Models


<ul class="course">

    @foreach (var course in Model.UpcommingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("dd-MM")
                    <small> @course.DateTime.ToString("yyyy")</small>
                </div>
                <div class="day">
                    <small>@course.DateTime.ToString("HH:mm")</small>
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                    }
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
                @if (Model.ShowAction)
                {
                    var useID = User.Identity.GetUserId();
                    ApplicationDbContext _dbContext = new ApplicationDbContext();
                    bool isGoing = _dbContext.Attendances.Any(a => a.CourseId == course.Id && a.AttendeeId == useID);
                <div>
                    @if (!isGoing)
                    {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                    else
                    {
                        <span class="text-danger"> Đã tham gia &#128572; &#128572; &#128572;</span>
                    }
                </div>

                }
            </div>
        </li>
    }
</ul>
@section scripts
    {
    <script>
        $(document).ready(function () {
            CoursesController.init();
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });
    </script>
}